body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track{
    background: gray;
}
*::-webkit-scrollbar-thumb{
  background-color: back;
    border-radius: 20px;
    border: 3px solid gray;
}

#root {
  height: 100vh;
  display: flex;
}
#App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#content-install-img {
  height: 228px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#content-install-img > h6 {
  margin: 0 15px 0 10px;
}
#content-install {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#content-install-actions {
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 10px;
  gap: 15px;
}
#content-install-info {
  display: flex;
  height: 100%;
}
#install-desc {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 15px;
}
#profile-played {
  display: flex;
  flex-direction: column;
}
#install-info {
  overflow-y: scroll;
  height: 100%;
  width: 340px;
  padding-left: 10px;
  padding-top: 10px;
}
#supported-mc-verions, #supported-loaders {
  display: flex;
  padding: 5px 25px 5px 5px;
  gap: 5px;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
  margin: 0 !important;
}
.css-1tmu6hb-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px !important;
}

#downloads {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#current-download {
  height: 82px;
  display: flex;
  justify-content: space-between;
}
#current-download-name {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}
#download-progress {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#download-est {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 10px;
}
#download-est-mb {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
#download-amount {
  display: flex;
  justify-content: flex-end;
}
.download-divider {
  display: flex;
}
.download-divider > hr {
  width: 100%;
}

#settings {
  height: 100%;
  width: 100%;
  display: flex;
}
.add-options {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.activated {
  color: #29b6f6 !important;
}
.activated:hover {
  background-color: rgba(41, 182, 246, 0.08) !important;
}
